{% extends "base.html" %}

{% block content %}
<h1>Moja Strona </h1>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">News</div>
	<table class="table">
	<thead>
	<tr>
	<td> Id </td>
	<td> Data </td>
	<td> Email </td>
	<td> Created At </td>
	<td> Menu </td>
	<td> </td>
	</tr>
	</thead>
	<tbody>
	{% for entry in errors %}
		<tr>
	    <td>{{ entry.id }}</td>
	    <td>{{ entry.data }}</td>
	    <td>{{ entry.email }}</td>
	    <td>{{ entry.pub_date }}</td>
	    <td>{{ entry.menu }}</td>
	    <td>
	    <form method="post" action="/menu/delete_error/{{entry.id}}/">
	    {% csrf_token %}
	    <input type="button" class="btn btn-default navbar-btn" onclick="submit()" value="Delete"/>
	    </form>
	    </td>
	    </tr>
	{% endfor  %}
	</tbody>
	</table>
</div>

{% if is_paginated %}
    <hr>
    {% if page_obj.has_next %}
        <a href="./?page={{ page_obj.next_page_number }}">starsze</a>
    {% endif %}
    {% if page_obj.has_previous %}
        <a href="./?page={{ page_obj.previous_page_number }}">nowsze</a>
    {% endif %}
{% endif %}
{% endblock %}